{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"href="{% static "css/simple-sidebar.css"%}"/>
    <script src ="{% static "js/jquery.js"%}"/>
    <script src ="{% static "js/base.js"%}"/>
    <link rel="stylesheet" src= "{% static "css/base.css"%}"/>
    {% block head %}

    {% endblock %}
    <script>

</script>

  </head>
  <div class="container">
  <body>
    <div id="sidebar-wrapper">
        <ol class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    English
                </a>
            </li>
            <li>
                <a href="/">Home</a>

            </li>
            <li>

                <a data-toggle="collapse" data-target=".sublist" >{{chapter.name}} - Chapter {{chapter.position}}</a>
                <ul class="sublist">
                {% for topic in chapter.topics.all %}
                <li>
                    <a data-toggle="collapse" data-target="#sublist{{topic.id}}" >{{ topic.name }}</a>
                    <ul id="sublist{{topic.id}}">
                      {% for content in topic.contents.all %}
                        <li><a href="#">{{content.name}}</a></li>
                      {% endfor %}
                  </ul>
                </li>
            {% endfor %}
          </ul>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ol>
    </div>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</div>
</html>
