{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/index.css"%}">
  <script>
  // $(window).resize(function(){
  //    console.log('resize called');
  //    var width = $(window).width();
  //     if(width <= 768){$('.contentText').removeClass('col-xs-offset-3');}
  //    if (width>=768) {
  //      $('.contentText').addClass('col-xs-offset-3');
  //    }}).resize();//trigger the resize event on page load.
  $("audio").bind("stalled", function() {
        var audio = this;
        audio.load();

        // Threw in these two lines for good measure.
        audio.play();
        audio.pause();
    });
  var onPlayStarted=function(ele)
  {
    console.log(ele.duration);
    var text = ele.parentElement.innerHTML;
    text = text.split("<")[0];
    var words = text.split(" ");
    for(var i = 0; i<words.length;i++)
    {
      if(words[i]=="")
      {
        words.splice(i,1)
      }
    }
    console.log(words)
    var running = true;
    var update = function()
    {
      console.log(!(ele.paused||ele.ended));
      if(!(ele.paused||ele.ended)&&running)
      {
        setTimeout(update,100);
      }
    }

  }
  </script>
  {% endblock %}
{% block pagebody %}
<div class="row" id="pageheader">
  <div class="col-xs-12">
    <h1>
      {{page.title}}
    </h1>
  </div>
</div>
<div class="row  text-center" >
  <div class="col-xs-8 col-xs-offset-2"  >
    <h3>
      {{topic.header}}
    </h3>

  </div>
</div>
{% for content in topic.contents.all %}
  <div class="row" >
    <div class="col-xs-{{page.wellWidth}} {% if page.wellOffset > 0 %} col-xs-offset-{{page.wellOffset}} {% endif %} contentText"  >
      <div class=" container-fluid well well-lg contentHolder">
        <div class="col-xs-{{page.contentWidth}}">
          <h1 id="{{content.id}}content">
            {{content.name}}
          </h1>
          <p>
            {{content.body}}
            <br>
          <audio preload controls onplay="onPlayStarted(this);">
            <source src="{{content.reading.url}}" type="audio/mp4">
            </audio>
          </p>
        </div>
        {% if page.imageWidth > 0 %}
        <div class="col-xs-{{ page.imageWidth }}">
          {% for image in content.images.all %}
            <div class="imageholder">
              <h3>{{image.name}}</h3>
              <img src="{{image.image.url}}"/>
              <p>{{image.caption}}</p>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
    {% endfor %}
{% endblock %}
